body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}

html {
   width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login{
  margin-left: 13%;
}

.login_form{
  height: 30%;
  margin-bottom: 1%;
}

.login_buttons{
  height: 32%;
  margin-top: 3%;
}
